$color: red;

h1 {
  color: $color;
}

:global(.home) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  line-height: 1.4;

  a {
    display: block;
    margin: 0 0 20px;
  }
}
