{
  "plugins": [
    "ember",
    "mirego"
  ],
  "extends": [
    "plugin:mirego/recommended",
    "prettier"
  ],
  "env": {
    "es6": true
  },
  "rules": {
    "ember/closure-actions": 2,
    "ember/named-functions-in-promises": 2,
    "ember/new-module-imports": 2,
    "ember/no-global-jquery": 2,
    "ember/no-on-calls-in-components": 2,
    "ember/no-duplicate-dependent-keys": 2,
    "ember/no-side-effects": 2,
    "ember/require-super-in-init": 2,
    "ember/avoid-leaking-state-in-ember-objects": 2,
    "ember/use-brace-expansion": 2
  }
}
