& {
  padding: 0;

  &[disabled] {
    cursor: default;

    .label {
      transform: translate3d(-100%, 0, 0);
    }

    .loading {
      left: calc(50% - 10px);
    }
  }
}

.content {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.label {
  display: flex;
  align-items: center;
  transition: $transition-speed transform $transition-easing;
  transform: translate3d(0, 0, 0);
  padding: 8px 30px;
}

.loading {
  transition: $transition-speed left $transition-easing;
  will-change: left;
  width: 20px;
  position: absolute;
  top: 0;
  left: 100%;
  fill: $color-white;
}
