{{! template-lint-disable no-bare-strings }}

<div class="home">
  <a target="_blank" href="https://github.com/mirego/ember-boilerplate" rel="noopener">
    <img src="https://user-images.githubusercontent.com/11348/51911477-f2b17880-239f-11e9-89aa-8cf94e957155.png" width="600">
  </a>

  <p>This repository is the stable base upon which we build our Ember.js projects at Mirego.<br>We want to share it with the world so you can build awesome Ember.js applications too.</p>
</div>
